body {
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    background-color: #000;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.75);
    position: sticky;
    top: 0;
    width: 97%;
    z-index: 1;
    flex-wrap: wrap;
  }
  
  .logo {
    color: #fff;
    font-size: 1.2em;
    text-decoration: none;
  }
  
  #navInviteButton {
    color: #ff0066;
    text-decoration: none;
    transition: color .3s;
    white-space: nowrap;
  }
  
  #navInviteButton:hover {
    color: #ff3399;
  }
  
  #heroSection {
    margin-top: 60px;
  }
  
  .page-title {
    font-size: 2.5em;
    text-align: center;
    margin: 20px 0;
  }
  
  .section-img {
    display: block;
    width: 100%;
    max-width: 540px;
    height: auto;
    margin: 20px auto;
    animation: rgb-blink 2s infinite;
  }
  
  .section-text {
    text-align: justify;
    margin: 10px auto;
    padding: 0 20px;
    max-width: 800px;
  }
  
  .cta-button {
    display: block;
    width: 200px;
    height: 50px;
    margin: 20px auto;
    background-color: #ff0066;
    color: #fff;
    border: none;
    font-size: 1.2em;
    text-align: center;
    line-height: 50px;
    transition: background-color .3s;
    white-space: nowrap;
  }
  
  .cta-button:hover {
    background-color: #ff3399;
    cursor: pointer;
  }
  
  .section-title {
    font-size: 2em;
    text-align: center;
    margin: 20px 0;
  }
  
  @keyframes rgb-blink {
    0%   {filter: hue-rotate(0deg);}
    100% {filter: hue-rotate(360deg);}
  }
  
  @media (max-width: 600px) {
    .page-title, .section-title {
      font-size: 1.5em;
    }
  
    .cta-button {
      width: 150px;
      height: 40px;
      font-size: 1em;
      line-height: 40px;
    }
  
    nav {
      flex-direction: column;
      align-items: center;
    }
  
    .section-text {
      max-width: 100%;
    }
  
    .section-img {
      max-width: 100%;
    }
  }
  